<section>
  <h3>Hi, my name is</h3>

  <h1>Eugenia Dallasta</h1>

  <h2>I am a software developer</h2>

  <p>
    Debitis magni obcaecati officiis repellendus odit sapiente
    hic magnam vero accusamus eius id aspernatur nam sequi modi ad, quam ratione
    expedita aperiam facere odio quae? Reiciendis accusantium explicabo, totam
    odio maxime unde corrupti ut libero minima sunt eligendi, consequatur quae
    soluta hic voluptatem quo enim odit! Maiores nostrum cum optio accusantium
    vero?
  </p>

  <button mat-stroked-button color="warn">Download my CV</button>
</section>
