<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    position="end"
    class="sidenav"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">

    <mat-toolbar color="primary"> Menu
      <button
        class="sidenav-close"
        type="button"
        aria-label="close"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon >close</mat-icon>
      </button>
    </mat-toolbar>
    

    <mat-nav-list>
      <div *ngFor="let section of sections">
        <a mat-list-item href="#{{section.id}}">{{section.title}}</a>
      </div>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>LOGO</span>
      <span class="spacer"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div *ngIf="!(isHandset$ | async)">
        <ng-container  *ngFor="let section of sections">
             <a href="#{{section.id}}">{{section.title}}</a>
      </ng-container>
      </div>
    </mat-toolbar>

    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
